*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* navbar start here */

.navbar{
    padding-top:10px ;
}
#op{
    color: #000;
    font-weight: 500;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}
#op:hover{
    color: #fff;
    background-color: #fd6502;
    border-radius: 25px 0px 15px 0px;
    cursor: pointer;
    transition: 0.5s;
}
.icon-bar{
    background-color: #fd6502;
}

#brand img{
    /* background-color: aqua; */
    position: relative;
    bottom: 30px;
}


/* navbar end here */




.btn{
    height: 50px;
    width: 180px;
    border-radius: 25px 0px 25px 0px;
    background-color: #fd6502;
    font-size: 18px;
    color: #fff;
    transition: 0.5s;

    margin-top: 10px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

.btn:hover{
    background-color: #3c3d41;
    color: #fff;
    border: 2.5px solid #fd6502;
}





/* first section start here */


.first-section{
    background-image: linear-gradient(rgba(0,0,0,0.4)0%, rgba(0,0,0,0.5)100%), url("../Image/inner-bg.jpg");
    /* padding-top: 100px; */
    height: 60vh;
    align-content: center;
    background-position:center right;
}

.first-section h2{
    color: #fff;
    font-size: 45px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}
.first-section h5{
    color: #fff;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    margin-top: 30px;
}



/* first section end */


/* second section start here */

.second-section{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}


.second-section-box1{
    box-shadow: 1px 1px 20px #dddbdb;
    padding-top: 30px;
}

.second-section span{
    font-size: 50px;
    transition: 1.5s;
    color: #393939;
}


.second-section span:hover{
    color: #fd6502;
    transform:rotate(360deg);
}

.second-section h3{
    font-size: 22px;
    transition: 1s;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    color: #393939;
}

.second-section h3:hover{
    color: #fd6502;
    cursor: pointer;
}

.second-section p{
    font-size: 15px;
    transition: 1s;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    color: #999;
    font-weight: 500;
    line-height: 1.8;
}


















/* fifth section start here */

.fifth-section{
    background-color: #f2f3f5;
    padding-top: 100px;
    /* margin-bottom: 100px; */
}

.fifth-section-top{
    text-align: center;
}

.fifth-section-top h1{
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 500;
    color: #1f1f1f;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}
.fifth-section-top h4{
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 2;
    color: #999;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

.card{
    /* background-color: #fff; */
    background-color: #fff;
    padding-bottom: 50px;
}

.card-image img{
    width: 100%;
    border-radius: 10px;
}


.card h3{
    color: #1f1f1f;
    font-size: 22px;
    margin-top: 30px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

.card-content{
    padding-left: 10px;
    color: #999;
    font-size: 15px;
    line-height: 2;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

.fifth-section-bottom{
    text-align: center;
}

.fifth-section .btn{
    margin-top: 150px ;
    margin-bottom: 100px;
    width: 230px;
    height: 55px;
    font-weight: 400;
}




/* fifth section end */









/* eight section start here */


.eight{
    background-image: url("../Image/parallax_03.jpg");
    text-align: center;
    padding-top:100px;
    padding-bottom: 100px;
}

.eight-top{
    border-bottom: 1px dashed #999;
}

.eight-top h1{
    color: #fff;
    font-size: 42px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}
.eight-top p{
    color: #999;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.8;
    margin-top: 30px;
    margin-bottom: 50px;
}


.eight span{
    margin-top: 70px;
    font-size: 70px;
    color: #636161;
    cursor: pointer;
}

.eight span:hover{
    color: #a09d9d;
}


/* eight section end */





/* ninth section start here */



.ninth-section{
    background-color: #393939;
    padding-top: 80px;
    padding-bottom: 80px;
}
.ninth-section-left img{
    /* background-color: #fff; */
}
.ninth-section p{
    color: #999;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    line-height: 1.8;
    margin-top: 20px;
}

.ninth-section h3{
    color: #f2f3f5;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 22px;
    margin-bottom: 20px;
}

.ninth-section h4{
    color: #999;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    line-height: 1.8;
    /* margin-top: 20px; */
    border-bottom: 1px dotted #999;
    padding-bottom: 10px;
    cursor: pointer;
    transition: 1s;
}

.ninth-section h4:hover{
    color: #fd6502;
    /* margin-left: 20px; */
    padding-left: 20px;
}

.ninth-section h4 span{
    visibility: hidden;
    transition: 0.5s;
}
.ninth-section-mid h4:hover span{
    visibility: visible;
}




/* ninth section end */



/* tenth section start here */

.ten-section{
    background-color: #1f1f1f;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.ten-section h3{
    color: #999;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
}
.ten-section span{
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    cursor: pointer;
    transition: 0.5s;
}
.ten-section span:hover{
    color: #fd6502;
    
}




/* tenth section end */



@media only screen and (max-width:768px)
{

    /* first section start here */

    .first-section{
        height: 32vh;
    }

    .first-section h2{
        font-size: 30px;
    }

    /* first section end */





    /* second section start here */


    .second-section-box{
        margin-bottom: 10px;
    }
    .second-section{
        margin-bottom: 50px;
    }


    /* secone section end */





    /* fifth section start here */

    .fifth-section-mid-r{
        display: none;
    }

    /* fifth section end */




    /* eight section start here */

    .eight-bottom span{
        font-size: 50px;
    }

    /* eight section end */



    /* ninth section start here */


    .ninth-section-right{
        text-align: center;
    }

    /* ninth section end */





   


}

@media only screen and (max-width:992px)
{


    .fifth-section-mid-r{
        display: none;
    }


}

