*{
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}

.html{
    font-size: 10px;
}

.master{
    width: 100%;
}

.navbar{
    padding-top: 15px;
    background: white;
    border: none;
    height: 80px;
}

#mynavbar ul li a{
    color: black;
    font-weight: 600;
}

#mynavbar ul .color a{
    background: #FD6802;
    color: white;
    border-radius: 15px 0px 15px 0px;
}

.master .navbar-brand{
    color: #FD6802;
    font-size: 3rem;
    font-weight: 800;
}

.master .navbar-brand span{
    color: black
}

.master .navbar-toggle{
    background: #393939;
    border-radius: 15px 0px 15px 0px ;
}


.first{
    width: 100%;
    height: 50vh;
    background-color: red;
    background-image: linear-gradient(rgba(0, 0, 0,0.2)0%, rgba(0, 0, 0,0.3)100%),url("../Image/27.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.first .container{
    padding-top: 150px;
}

.first h1{
    /* background-color: red; */
    color:#fff;
    font-size: 4rem;
    font-weight: 600;
    border-left: 8px solid #FD6802;
    height: 40px;
    padding-left: 10px;
}

.first p{
    font-size: 1.8rem;
    color: white;
}

.first span{
    color: #FD6802;
    font-size: 3rem;
}


/*  */

.secondsection{
    /* background: yellow; */
    width: 100%;
}

.box1{
    padding-bottom: 100px;
    border-bottom: 1px solid rgb(220, 218, 218);
}

.box1{
    padding-top: 100px;
}

.boxb img{
    margin-top: 20px;
    width: 100%;
    height: 350px;
    border-radius: 10px;
}


.boxa h3{
    color: gray;
    font-size: 2rem;
}

.boxa h1{
    width: 100%;
    font-size: 3.2rem;
}

.boxa h2{
    color: gray;
    font-size: 2.2rem;
    font-weight: 300;
}

.boxa p{
    font-size: 1.5rem;
    color: gray;
}

.boxa button{
    background: #FD6802;
    color: white;
    border-radius: 20px 0px 20px 0px;
    font-weight: 500;
}

.boxa button:hover{
    background-color: #393939;
    color: white;
    border: 3px solid #FD6802;
}


/*  */


.thirdinner{
    /* background: hotpink; */
}

.box2{
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid rgb(220, 218, 218);
}

.boxc img{
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}


.boxd h3{
    color: gray;
    font-size: 2rem;
}

.boxd h1{
    width: 100%;
    font-size: 3.2rem;
}

.boxd h2{
    color: gray;
    font-size: 2.2rem;
    font-weight: 300;
}

.boxd p{
    font-size: 1.5rem;
    color: gray;
}

.boxd button{
    background: #FD6802;
    color: white;
    border-radius: 20px 0px 20px 0px;
    font-weight: 500;
}

.boxd button:hover{
    background-color: #393939;
    color: white;
    border: 3px solid #FD6802;
}


/*  */


.eightsection{
    width: 100%;
    height: 120vh;
    background-image: url(../Image/10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.carousel-indicators{
    display: none;
}

.eightsection h1{
    padding-top: 80px;
    padding-bottom: 10px;
}

.eightsection h3{
    font-size: 1.8rem;
    color: gray;
}

.eightsection .carousel-inner{
    width: 75%;
    margin: 0 auto;
}

.box7{
    margin-top: 70px;
}

.internal{
    background: #393939;
    height: 130px;
    border-radius: 20px 0px 20px 0px;
}

.box7 h4{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 2.2rem;
}

.box7 span{
    font-size: 4rem;
    color: #FD6802;
    padding-right: 15px;
}

.box7 p{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 1.7rem;
    color: gray;
}

.pic h5{
    font-size: 1.8rem;
}

.pic h6{
    color: gray;
    font-size: 1.6rem;
}

.pic{
    padding-top: 30px;
}

.pic img{
    width: 45%;
    border-radius: 100%;
}

.pic .r{
    position: relative;
    left: -90px;
}

.photo{
    padding-top: 50px;
    border-top: 1px dotted gray;
    margin-top: 50px;
}

.photo img{
    width: 100%;
}


/*  */


.ninthsection{
    background: #393939;
    color: white;
}

.ninthsection .container{
    padding-top: 100px;
    padding-bottom: 100px;
}

.ninthsection p{
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 1.3rem;
    color: rgb(169, 166, 166);
}

.box9 p{
    border-bottom: 1px dotted gray;
    padding-bottom: 12px;
}

.box8 img{
    padding-top: 20px;
}

.box8 p{
    margin-top: 20px;
}

.box9 .active{
    border-bottom: none;
}

/*  */

.tenthsection{
    background: black;
    color: gray;
}

.tenthsection p{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 1.7rem;
}

.tenthsection span{
    color: white;
}

.tenthsection span:hover{
    color: #FD6802;
}





/*  */


@media only screen and (max-width:1200px){

    #mynavbar ul{
        margin-right: 20px;
    }

    .first{
        height: 40vh;
    }

    .first .container{
        padding-left: 70px;
    }

    .first h1{
        margin-top: 50px;
    }

    .eightsection{
        height: 80vh;
    }

    .pic img{
        width: 52%;
    }

    .pic .r{
        margin-left: 20px;
    }

}



/* for tablets */


@media only screen and (max-width:992px)
{

    #mynavbar ul{
        margin-right: -20px;
    }

    .box1{
        margin-top: -50px;
    }

    .box2{
        margin-top: -50px;
    }
    
    .secondsection img{
        height: 400px;
    }

    .thirdinner img{
        height: 400px;
    }

    .box10{
        text-align: center;
    }

    
    .eightsection .carousel-control{
        display: none;
    }

    .pic img{
        margin-top: 5px;
    }

}


/*  */



/* for mobile phones */

@media only screen and (max-width:768px)
{

    .inner{
        background-color: red;
    }

    #mynavbar ul{
        margin-right: -20px;
    }

    #mynavbar ul li{
        font-size: 1.1rem;
    }

    .master .navbar-brand{
        font-size: 2.4rem;
    }

    .first h1{
        font-size: 3rem;
        height: 30px;
    }

    
    .pic img{
        width: 80%;
    }

    .pic .r{
        margin-left: 60px;
    }


}
